<h2>Edit Username and Password</h2>

<form action="/show/edit" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit Below</label>
    <br>
    <input type="text" name="username" value="<%= @user.username %>">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Submit">
</form>
 


