<!DOCTYPE html>
<html>
<head>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: right;
</style>
<%if session[:user_id]%>
<ul class="sidenav">
  <li><a class="active" href="/show">Home</a></li>
  <li><a href='/show/runs'>Runpage</a></li>
  <li><a href='/events/home'>Events</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
   
<%end%>
</head>

  <body>
  

  <h1></h1>

    <%= yield %>
    <div class="footer">
  <p>Powered By Teerth Patel---</p>
     </div>

  </body>

</html>
