<!DOCTYPE html>
<html>
<head>

<style>

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: right;
</style>
<%if session[:user_id]%>
<ul class="sidenav">
  <li><a class="active" href="/show">Home</a></li>
  <li><a href='/show/runs'>Runpage</a></li>
  <li><a href='/events/home'>Events</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
   
<%end%>
</head>

  <body style="background-color:#C0C0C0">
  

  <h1></h1>

    <%= yield %>
    <div class="footer">
  <p>Powered By Teerth Patel---</p>
     </div>

  </body>

</html>
